[Unit]
Description=Automated Irrigation Service

[Service]
Type=simple
WorkingDirectory=/var/lib/pirrigator
ExecStart=/usr/local/bin/pirrigator
ExecStopPost=/usr/local/bin/reset-gpio.sh
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
Environment="RUST_LOG=debug"

[Install]
WantedBy=multi-user.target
